In [4]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestRegressor, GradientBoostingRegressor
from sklearn.metrics import mean_absolute_error, mean_squared_error, r2_score
from sklearn.preprocessing import LabelEncoder

data = pd.read_csv(r"C:\Users\Lenovo\Downloads\student_dataset.csv")
data

,Student_ID,Age,Gender,Hours_Studied,Attendance_Rate,Previous_Sem_CGPA,Family_Income,Part_Time_Job,Final_Score
0,1,24,Female,3.6,55.1,7.58,67280,Yes,94.2
1,2,21,Female,6.2,83.2,6.61,99459,No,88.5
2,3,22,Male,2.2,50.3,8.98,36779,No,96.7
3,4,24,Female,1.1,58.0,6.35,83932,No,82.2
4,5,20,Male,2.7,77.4,7.19,92936,No,74.9
...,...,...,...,...,...,...,...,...,...
95,96,23,Female,1.1,76.6,9.51,113714,Yes,53.1
96,97,21,Female,1.7,77.0,7.53,114246,No,46.5
97,98,23,Male,7.2,81.9,9.13,35485,No,40.8
98,99,24,Male,5.0,86.3,6.60,64482,Yes,42.8
99,100,24,Male,0.6,98.8,9.48,106188,Yes,65.0

In [5]:

data['Part_Time_Job'] = data['Part_Time_Job'].str.strip().str.capitalize().map({'Yes': 1, 'No': 0})

features = ['Age', 'Hours_Studied', 'Attendance_Rate', 'Previous_Sem_CGPA', 'Part_Time_Job']
target = 'Family_Income'

In [18]:

data = data.dropna(subset=features + [target])

X = data[features]
y = data[target]

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.7, random_state=42)


rf_model = RandomForestRegressor(random_state=42)
rf_model.fit(X_train, y_train)
rf_pred = rf_model.predict(X_test)

print(" Random Forest Regressor:")
print("MAE:", mean_absolute_error(y_test, rf_pred))
# print("RMSE:", mean_squared_error(y_test, rf_pred, squared=False))
print("R² Score:", r2_score(y_test, rf_pred))

 Random Forest Regressor:
MAE: 31415.696857142862
R² Score: 0.015057026439880938